<html>
  <head>
    <link rel="stylesheet" href="/bundle/index.css" />
  </head>
  <body>
    <div class="content">
      layout fun
      {{> content}}
    </div>
    <script src="/bundle/index.js"></script>
  </body>
</html>
